{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Elearning Quran Complex </title>
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/index.js' %}" defer></script>
{% endblock %}

{% block content %}


<main>
    <section id="hero-area">
        <div id="hero-text">
            <p><strong>Learn Quran and More — Online, Anytime, Like Never Before.</strong></p>
        </div>
    </section>
</main>

<style>
    #hero-area {
        background-image: linear-gradient(rgba(94, 92, 92, 0.5), rgba(0, 0, 0, 0.9)),
        url("{% static 'images/hero-image.jpeg' %}");
    }

    body.light-theme #hero-area {
        background-image: linear-gradient(rgba(105, 97, 97, 0.5), rgba(78, 74, 74, 0.9)), url(/static/images/hero-image.jpeg);
    }
</style>
{% endblock %}