
#hero-area {
    height: 857px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-text {
    color: white;
    text-align: center;
}


body.light-theme #hero-text {
    color: #000;
}

